@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/* General */

* {
    margin: 0;
    padding: 0;
}

html {
    height: auto;
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    color: #FFFFFF;
    background-color: hsl(257, 40%, 49%);
    background-image: url('../images/bg-desktop.svg');
    background-repeat: no-repeat;
    height: 100%;
}

h1,h2,h3 {
   font-size: 32px;
   line-height: 55px;
   letter-spacing: 1px;
   font-family: 'Poppins', sans-serif;
}

p {
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 1px;
    word-wrap: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.wrapper {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    margin: 0 auto;    
}

.row {
    display: flex;
    justify-content: space-between;
    padding: 75px 0 0 0;
}

/* Header */

header {
    padding-top: 40px;
}

/* Main */ 

#main h1, #main p {
    padding-bottom: 20px;
    white-space: nowrap;
}
#main a {
    color: hsl(257, 40%, 49%);
    text-align: center;
    line-height: 45px;
    font-size: 18px;
    display: block;
    height: 45px;
    width: 180px;
    background-color: #FFFFFF;
    border-radius: 25px;
    box-shadow: 0 2px 2px rgba(43, 43, 43, 0.5);
}

#main .col:nth-child(2) {
    padding: 40px 80px 0 50px;
}

/* Footer */

footer {
    display: flex;
    flex-direction: row-reverse;
    padding-bottom: 40px;
}

footer .social {
    padding-right: 80px;
}

footer .social a {
   display: inline-block; 
   font-size: 16px; 
   padding: 10px;
   margin-left:20px;
   border: 1px solid #FFFFFF;
   border-radius: 50%;
}

/* Media queries */

@media screen and (max-width: 1480px) {

    body {
        background-image: url('../images/bg-mobile.svg');
        background-size: cover;
    }

    h1 {
        font-size: 6vw;
        line-height: 9vw;
    }

    p {
        line-height: 7vw;
        font-size: 4vw;
    }

    .row {
        display: flex;
        flex-direction: column;
        padding-top: 10vh;
    }

    .col { 
        text-align: center;
    }

    #main .col:nth-child(2) {
        padding: 0;
        padding-top: 5vh;
    }


    header img {
        width: 35vw;
        padding-left: 20px;
    }
    #main img {
        width: 80vw;
    }

    #main a {
        margin: 0 auto;
        font-size: 3vw;   
        width: 40vw;
        height: 9vw;
        line-height: 9vw;
    }

    #main h1 {
        white-space: normal; 
        padding-bottom: 4vh;
    }
    #main p {
        white-space: normal; 
        padding-bottom: 4vh;
        width: 80vw;
        margin: 0 auto;
    }
    footer {
        margin-top: 10vh;
        justify-content: center;
    }

    footer .social {
        padding:0;
        display: flex;
        width: 30vw;
        justify-content: space-between;
    }
    
    footer .social a {
        font-size: 3vw;
        padding: 2vw;
        margin: 0;
    }

}

